
/* reset & basic styles */
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-tap-highlight-color: transparent; 
	box-sizing:border-box;
}

/* reset & basic styles */
@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot');
  src: url('fonts/fontello.eot#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff2') format('woff2'),
       url('fonts/fontello.woff') format('woff'),
       url('fonts/fontello.ttf') format('truetype'),
       url('fonts/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
	-webkit-text-size-adjust: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body{
  height:100%;
}

body{
  background:#fff;
	color:#333333;
	font:400 16px/26px 'Open Sans', Arial, Helvetica, sans-serif;
	margin:0px;	
	padding:0px;
  overflow-y:scroll;
  overflow-x:hidden;
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
	text-shadow:0 0;
	min-width: 320px;
	max-width: 1920px;
}

body.account_page{
	background:#f2f0f3;
}

table, tr, td{
	border:none;
	margin:0px;
	padding:0px;
} 

table{
	border-collapse:collapse;
}

img, button{
	border:0px;
	outline:none;
}

ul, li, ol{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

fieldset{
	border:none;
}

textarea{
	overflow:auto;
	outline:none;
  resize:none;
}

input, select, area{
	outline:none;
}

input [type="submit"]::-moz-focus-inner,
input [type="button"]::-moz-focus-inner{
  padding:0;
  border:0;
}

::-ms-clear {
	display:none;
}

input[type="button"], 
input[type="submit"], 
button{ 
	-webkit-appearance: none !important;
}

.clear{
	clear:both;
	height:0px;
	font-size:0px;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
a{
	color:#333333;
	font:normal 16px 'Open Sans', Arial, Helvetica, sans-serif;
	outline:none;
	text-decoration:none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
	box-sizing:border-box;
}
a:hover{
  text-decoration:underline;
}

h1{
	
}

h2{
	color:#000;
	font:normal 18px/22px 'Open Sans', Arial, Helvetica, sans-serif;
	letter-spacing:0.02em;
}

h3{
	color:#333333;
	font:normal 18px/22px 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}

h4{
	
}

/* /reset & basic styles */
.clearfix:after{clear:both}
.clearfix:after,.clearfix:before{display:table;content:" ";}